{% extends 'admin/admin.base.html.twig' %}

{% block body %}
    <div class="dashboard-container container-fluid">
        <div class="row">
            <div class="col-2 dashboard-menu">
                <div class="dashboard-logo">
                    <h2>Dashboard Menu</h2>
                </div>
                <div class="dashboard-nav">
                    <ul>
                        <li>
                            <a href="/admin" title="Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a href="/admin/products" title="Products">Products</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% block content %} {% endblock %}
        </div>
    </div>

{% endblock %}
