[class^="item-info-"]:first-of-type {
    border-top: 1px solid #DC3D1A;
}

[class^="item-info-"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1424px;
    border-bottom: 1px solid #DC3D1A;
}

.items-list {
    margin-bottom: 100px;
}

.items-list-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1424px;
}

.items-list-header p {
    font-weight: 700;
    font-size: 18px;
}

.padding-25 {
    padding: 25px;
}

.item-id, .items-list-header-id {
    width: 50px;
}

.item-name, .items-list-header-name {
    width: 250px;
}

.items-list-header-image {
    width: 120px;
}

.item-photo {
    width: 145px;
    display: flex;
    justify-content: center;
}

.item-sku, .items-list-header-sku {
    width: 250px;
}

.item-price, .items-list-header-price {
    width: 150px;
}

.item-action, .items-list-header-action {
    width: 150px;
}

.item-action a {
    margin-bottom: 15px;
}

.product-list-page-title {

}

.product-list-header {
    max-width: 1424px;
}

.product-list-header {
    width: 100%;
}

.product-list-header h2 {
    display: inline-block;
    font-size: 36px;
    line-height: 150px;
    font-weight: 700;
}

.new-product-container {
    display: inline-block;
    margin: 25px;
    max-width: 120px;
}